

.card-container{
    display: grid;
    gap:0.5 rem;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    margin-top:10rem;
  }
  .card{
    margin:20px;
  }
  .card-comp{
    box-shadow : 3px 3px 10px 0px rgb(22, 11, 11);
    background-color:  rgb(188, 107, 238);
    font-size: large;
    font-weight: bold;
    
   }
   .Cardactions{
     background-color: rgb(188, 107, 238);
     justify-content: center;
   }