.main-box{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.s-main{
    display:flex;
    height :90vh;
    margin-top:4rem;  
    width: 100vw;
}
.s-left{
    margin-top: 10rem;
    display:flex;
    position: realtive;
    flex:1;
    flex-direction:column;
    gap :2rem;
    padding-left: 1rem;
  
 }
 .s-content{
    display:flex;
    flex-direction:column;
 }
 .s-content>:nth-child(1){

  font-weight:bold ;
  font-size:3em;
 }
 .s-content>:nth-child(2){
   font-weight: bold;
   font-size:2rem;
 }
.button{
margin-top: 2rem;
  width: 10rem;
 height: 3rem;
}

 .s-right{
  display:flex;
  position: realtive;
  flex:1;
  height : 420px;
  width: 200px;
  margin-right: 5rem;
}

@media screen and (max-width: 480px) {
  .s-main{
    display:flex;
    flex-direction:column;
    height :100vh;
    width: 80vw;
 
}
.s-left{
  margin-top:2rem; 
transform: scale(0.8);
}

.s-right{
  margin-top:-10rem; 
  height : 300px;
  width: 350px;
  
  
}


}