:root
{
  
    --purple: rgb(130, 15, 201);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
* {
  margin: 0;
  padding: 0;
  font-family: cursive;

}
.button {
    background: var(--purple);
    box-shadow: 0px 20px 24px 3px rgba(140, 97, 175, 0.815);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solidvar(--purple);
    color:var(--purple);
  }
  .main-box{
    margin-top:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow : 3px 3px 10px 0px rgb(22, 11, 11);
    padding:50px;
    border-radius: 20px;
    background-color: azure;

}
